
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    /* transition: 1.5ms; */
    perspective: 10px;
}
h1 
{
    position:absolute;
    /* margin-top: 40px; */
    top: 3rem;
    color:white;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0,0 0,3);
}
.container
{
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index:-1;
}
.background,.foreground {
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
   object-fit: cover;

}
.foreground  img{
   height: 200px;
   width: 200px;
   margin-top: 300px;
   margin-left: 200px;
   transform: translateZ(-20px) scale(1.5);
}
.background {
    transform: translateZ(-40px) scale(5);
}

section 
{
    background-color: rgb(45, 45,45);
    color:white;
    padding:5rem 5rem;
}
.secHeading
{
    font-size: 5rem;
    padding: 0 10rem;
}
.bg
{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.description
{
    position:  absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left:35%;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
   

}


.bg1 {
    background-image:url(./images/bg1.jpg);
  
}
.bg2 {
    background-image: url(./images/bg2.jpg);
    
}
.bg3 {
    background-image: url(./images/bg3.jpg);
}
.text
{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}